{% extends 'base.html' %}
{% block content %}
<div>
  {% if article.image %}
    <p>
      <img src="{{ article.image.url }}" alt="{{ article.image }}">
    </p>
  {% endif %}
  <p>제목 : {{ article.title }} </p>
  <p>내용 : {{ article.content }} </p>
  <p>작성시간 : {{ article.created_at}} </p>
  <p>마지막 수정 시간 : {{ article.updated_at}} </p>
  <div>
    {% if article.user == request.user %}
      <p><a class="btn btn-primary" href="{% url 'articles:update' article.pk %}">수정하기</a></p>
      <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <p><input class="btn btn-danger" type="submit" value="삭제하기"></p>
      </form>
    {% endif %}
    <p><a class="btn btn-success" href="{% url 'articles:index' %}">목록으로</a></p>
  </div>
  <hr>
  <h3>댓글</h3>
  <hr>
  <div>
    <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p}}
      <input class="btn btn-warning" type="submit" value="댓글작성">
    </form>
    <hr>
    <ul>
    {% for comment in comments %}
      <li class="d-flex flex-row justify-content-between">
        <p>{{ comment.content }}</p>
        <p><form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="삭제">
        </form></p>
      </li>
    {% endfor %}
    </ul>
  </div>




</div>
{% endblock content %}